<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371587761709-q3log3fbh0ac3ke3sb92i6n0mhbv4i55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371587761709-q3log3fbh0ac3ke3sb92i6n0mhbv4i55</string>
	<key>API_KEY</key>
	<string>AIzaSyDumnNcmTX2u4NqjYMF_kdSV2_jgzJQbAc</string>
	<key>GCM_SENDER_ID</key>
	<string>371587761709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zerogravitykidz.kidz.readz</string>
	<key>PROJECT_ID</key>
	<string>kidzreadz-8f25c</string>
	<key>STORAGE_BUCKET</key>
	<string>kidzreadz-8f25c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371587761709:ios:01cf07c04c3c43a2371aa4</string>
</dict>
</plist>